// INKY BASE MANAGMENT

$black: #253141;
$light-gray: #b3c2ca;
$blue: #253141;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2d2e3a;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 20px;
  background: #4B28F7;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
}

.h-100vh {
  height: 100vh;

  @media (max-width: 560px) {
    height: auto;
  }
}

.inky-title {
  h2 {
    color: white;
  }

  .inky-description {
    color: #BFC0CF;
  }

  @media (max-width: 560px) {
    text-align: center !important;

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 560px) {
  p {
    font-size: 14px !important;
  }
}

.bar-inky {
  background-color: #4B28F7;
  height: 2.3px;
  width: 30px;
  margin-bottom: 30px;
  border-radius: 50px;

  @media (max-width: 560px) {
    margin: 0 auto 20px;
  }
}

.inky-scrolling {
  @media (max-width: 560px) {
    height: auto !important;

    .fp-tableCell {
      height: auto !important;

      .container {
        padding-top: 40px;
        padding-bottom: 30px;
      }
    }
  }
}

// HEADER

.inky-nav {
  padding: 20px 0;
  margin-bottom: -80px;
  z-index: 15;
  position: fixed;
  width: 100%;
  transition: background-color 0.5s, border .5s;

  .inky-logo {
    .inky-logo-content {
      background-image: url("../img/logo.svg");
      background-position: left;
      background-repeat: no-repeat;
      background-size: contain;
      width: 200px;
      height: 27px;
      margin-bottom: -10px;
    }
  }

  .navbar-content {
    a {
      font-size: 15px;
      color: $light-gray;
      text-decoration: none;
      transition: all .5s;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &:hover {
        color: $black;
      }
    }

    a.active {
      color: $black;

      &:after {
        position: absolute;
        background-color: #4B28F7;
        width: 30px;
        border-radius: 50px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        height: 2.3px;
        content: "";
        bottom: 0;
      }
    }
  }

  .icons-content {
    a {
      text-decoration: none;
    }

    i {
      color: $black;
      transition: color .5s;

      &:hover {
        color: #4B28F7;
      }
    }
  }
}

.header-pag {
  background-image: linear-gradient(1deg, #272933fc, #1a1e26cc);

  .navbar-content {
    a {
      font-size: 15px;
      color: $light-gray;
      text-decoration: none;
      transition: all .5s;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &:hover {
        color: white;
      }
    }

    a.active {
      color: white;
    }
  }

  .icone-color {
    color: #929292 !important;
  }
}

.scroll-menu img {
  content: url('../img/logo-white.svg') !important;
}

.scroll-menu .inky-logo:before {
  content: url('../img/logo-white.svg') !important;
  position: absolute;
  left: 0;
  right: 0;
}

.header-content {
  background-image: url("../img/banner-header.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;

  .text-content {
    p {
      font-size: 22px;

      @media (max-width: 560px) {
        font-size: 16px;
      }
    }

    h1 {
      font-size: 64px;

      @media (max-width: 560px) {
        font-size: 34px;
      }
    }
  }

  @media (max-width: 560px) {
    height: 400px !important;

    .fp-tableCell {
      height: 400px !important;
    }
  }
}

// SOBRE

.about-content {
  background-color: #151921;
  background-image: url("../img/banner-header2.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 560px) {
    padding-bottom: 350px;
  }

  .background-overlay {
    background-image: url("../img/macbook.webp");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 46%;

    @media (max-width: 560px) {
      background-size: 95%;
    }
  }

  @media (max-width: 560px) {
    .about-content-ajust {
      padding-bottom: 320px;
    }
  }

  .text-content {
    text-align: left;
  }

  .inky-msg-content {
    background-color: rgba(75, 41, 246, 0.09);
    border-radius: 7px;
    padding: 17px 25px;

    @media (max-width: 560px) {
      padding: 15px 15px;
    }

    .icon-content {
      display: grid;
      align-items: center;
      text-align: center;
      width: 100px;
      margin-right: 20px;

      i {
        font-size: 48px;
        color: #4B28F7;
      }
    }

    .text-content {
      text-align: left;

      p {
        color: #4B28F7;
      }

      h3 {
        font-size: 17px;
        font-weight: 500;

        @media (max-width: 560px) {
          font-size: 16px;
        }
      }
    }
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 30px;

    @media (max-width: 560px) {
      margin-right: 20px;
    }
  }

  .icon {
    background-color: rgba(26, 27, 52, 0.5);
    border: 2px solid rgba(238, 242, 255, 0.1);

    svg {
      color: #4728f7;
      height: 38px;
      width: 38px;
    }
  }

  .icon-blur {
    height: 45px;
    width: 50px;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
  }
}

// SOBRE PAG

.about-page-content {
  background-image: linear-gradient(1deg, #1d232c, #333848);
  background-color: #222a33;
}

// SERVIÇOS
.work-content {
  background-color: #151921;
}

.services-page{
  @media (max-height: 625px) and (min-width: 1024px){
    .circle-blend p{
      display: none;
    }
  }
}

// SERVIÇOS PAG

.work-page-content {
  background-color: #171C23;
  background-image: linear-gradient(122deg, #2D2E3A, #171C23);

  @media (max-width: 560px) {
    .down-arrow-content {
      display: none !important;
    }

    .text-content h2 {
      font-size: 32px !important;
    }
  }

  .text-content {
    h2 {
      font-size: 44px;
      color: white;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      color: white;
    }
  }

  .box-brands {
    margin-top: 60px;
    @media (max-width: 580px) {
      display: none;
    }

    img {
      height: 43px;
      width: 100%;
    }
  }
}

.mobile-carousel {
  background-color: #171C23;
  background-image: linear-gradient(122deg, #252731, #171c23);
  padding: 20px 20px;
  margin-top: -40px;
  @media (min-width: 580px) {
    display: none;
  }

  .brands-carousel {

    img {
      height: 50px;
      margin: 0 auto;
    }
  }
}

.services-page {
  background-color: #1e222a;

  @media (max-width: 560px) {
    .container {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .inky-title h2 {
      margin-top: 0 !important;
    }

    .text-content {
      margin: 0 !important;
      padding: 0 20px !important;
    }
  }

  .icon {
    position: relative;
  }

  .circle-blend {
    .col-md-4 {
      margin: 20px 0;
    }

    @media (max-width: 560px) {

    }
  }

  h3 {
    font-size: 20px;
    color: white;
    font-weight: 400 !important;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: #b3b3b5;
  }

  .see-more {
    font-size: 32px;
    color: #7c7c80;
    transition: color 0.5s;
    text-decoration: none;

    &:hover {
      color: #b7b9bf;
    }
  }
}

@media (max-width: 560px) {
  .services-page {
    padding-top: 60px;
  }
}

.icon-blur {
  position: absolute;
  height: 49px;
  width: 43px;
  border-radius: 0px;
  right: -5px;
  top: 0px;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

// VANTAGENS

.benefits-content {
  background-color: #1D232C;
  @media (max-width: 560px) {
    .container {
      padding-top: 0 !important;
      padding-bottom: 60px !important;
    }

    .text-content {
      text-align: center !important;
    }

    .ajust-mobile {
      margin-top: 40px;
    }
  }
}

.benefits-bottom {
  @media (max-width: 560px) {
    .container {
      padding-bottom: 0px !important;
    }
  }
}

.privacy-politic {
  background-image: linear-gradient(1deg, #1d232c, #333848);
  background-color: #222a33;
  padding: 70px 0;

  h2 {
    color: white;
  }

  p {
    color: #BFC0CF;
  }

  a {
    color: #4b28f7;
  }
}

// FOOTER
.footer-content {
  background-color: #1D232C;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;

  @media (max-width: 560px) {
    height: auto !important;
  }

  .inky-title {
    padding-top: 220px;
    @media (max-width: 560px) {
      padding-top: 30px;
    }

    @media (max-height: 625px) and (min-width: 1024px){
      padding-top: 100px;
    }
  }

  .form-content {
    @media (max-width: 560px) {
      flex-direction: column-reverse;
    }

    @media (max-height: 625px) and (min-width: 1024px){
      margin-top: 10px !important;
    }

    .content-info {
      margin-top: -10px;
      @media (max-width: 560px) {
        margin-top: 60px;
        padding: 0 20px;
      }

      a {
        text-decoration: none;
        margin: 35px 0;
        width: -moz-max-content;
        width: max-content;

        i {
          color: #4b28f7;
          margin-right: 20px;
          text-align: center;
        }

        p {
          color: #BFC0CF;
          margin: 0;
          font-size: 15px;
        }
      }
    }

    input, textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #707070;
      padding: 10px 2px;
      outline: none;
      color: #b3b1bd;
      margin-bottom: 20px;
      resize: none;
    }
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  @media (max-width: 560px) {
    position: relative;
    margin-top: 0;

    .container {
      padding: 0 !important;
    }
  }

  p {
    color: #b1b5bb;
    font-size: 14px;
  }
}

// BOTÃO DE E-MAIL

$background: #4728f7;
$success: #3FDC75;

.activate {
  display: table;
  background: $background;
  box-shadow: 0 4px 20px rgba($background, .15);
  line-height: 20px;
  padding: 12px 40px;
  margin: 0 auto;
  border-radius: 22px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  outline: none !important;
  border: none;
  transition: transform .2s ease, background .3s ease, box-shadow .3s ease;

  &:disabled {
    background: #2f3847;
    pointer-events: none;
    box-shadow: none;

    li {
      color: #727986;
    }

    span {
      background-color: #2f3847;
      stroke: #4b29f6;

      svg {
        stroke: #4b29f6 !important;
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    margin: 0 4px 0 0;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: $background;
      border-radius: 50%;
      transform: scale(0);
      transition: transform .3s ease, background .3s ease;
    }

    svg {
      position: absolute;
      width: 12px;
      height: 12px;
      left: 50%;
      top: 50%;
      margin: -6px 0 0 -6px;
      z-index: 1;

      &:nth-child(1) {
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        fill: none;
        margin: 0;
        stroke: #fff;
        stroke-width: 1px;
        stroke-dashoffset: 47.124 * 2;
        stroke-dasharray: 47.124;
      }

      &:nth-child(2) {
        fill: $background;
        transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      &:nth-child(3) {
        fill: $background;
        transform: translateY(20px);
        transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .3s ease;
      }
    }
  }

  &:hover {
    box-shadow: 0 8px 24px rgba($background, .15);

    span {
      svg {
        &:nth-child(2) {
          transform: translateY(-20px);
        }

        &:nth-child(3) {
          transform: translateY(0);
        }
      }
    }
  }

  &:active {
    transform: scale(.94);
    box-shadow: 0 4px 16px rgba($success, .18);
  }

  &.loading {
    span {
      background: none;
      transition: background .1s ease .3s;

      &:before {
        transform: scale(1);
      }

      svg {
        &:nth-child(1) {
          animation: turn 1.6s linear infinite forwards, path 1.6s linear infinite forwards;
        }

        &:nth-child(2) {
          transform: translateY(-20px);
        }

        &:nth-child(3) {
          opacity: 0;
          transform: translateY(0) scale(.6);
        }
      }
    }

    ul {
      transform: rotateX(90deg);
    }

    &.done {
      background: $success;
      box-shadow: 0 4px 20px rgba($success, .15);

      span {
        background: #fff;
        transition: background .1s ease 0s;

        &:before {
          background: $success;
          transform: scale(0);
        }

        svg {
          &:nth-child(1) {
            animation: none;
          }

          &:nth-child(3) {
            fill: $success;
            opacity: 1;
            transform: scale(1);
            transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s, opacity .4s ease .25s;
          }
        }
      }

      ul {
        transform: rotateX(180deg);
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    list-style: none;
    height: 20px;
    width: 70px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s ease;

    li {
      --rotateX: 0deg;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transform-origin: 50% 50%;
      transform: rotateX(var(--rotateX)) translateZ(10px);

      &:nth-child(2) {
        --rotateX: -90deg;
      }

      &:nth-child(3) {
        --rotateX: -180deg;
      }
    }
  }
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}

// COOKIE BUTTON

.cc-message {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.cc-window {
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1.5em;
}

.cc-dismiss {
  border-radius: 7px;
  box-shadow: 2px 2px 22px #4b29f68c;
}