::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2d2e3a;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 20px;
  background: #4B28F7;
}

body {
  font-family: "Ubuntu", sans-serif !important;
}

.h-100vh {
  height: 100vh;
}
@media (max-width: 560px) {
  .h-100vh {
    height: auto;
  }
}

.inky-title h2 {
  color: white;
}
.inky-title .inky-description {
  color: #BFC0CF;
}
@media (max-width: 560px) {
  .inky-title {
    text-align: center !important;
  }
  .inky-title h2 {
    font-size: 26px;
  }
  .inky-title p {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  p {
    font-size: 14px !important;
  }
}
.bar-inky {
  background-color: #4B28F7;
  height: 2.3px;
  width: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}
@media (max-width: 560px) {
  .bar-inky {
    margin: 0 auto 20px;
  }
}

@media (max-width: 560px) {
  .inky-scrolling {
    height: auto !important;
  }
  .inky-scrolling .fp-tableCell {
    height: auto !important;
  }
  .inky-scrolling .fp-tableCell .container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.inky-nav {
  padding: 20px 0;
  margin-bottom: -80px;
  z-index: 15;
  position: fixed;
  width: 100%;
  transition: background-color 0.5s, border 0.5s;
}
.inky-nav .inky-logo .inky-logo-content {
  background-image: url("../img/logo.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 27px;
  margin-bottom: -10px;
}
.inky-nav .navbar-content a {
  font-size: 15px;
  color: #b3c2ca;
  text-decoration: none;
  transition: all 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.inky-nav .navbar-content a:hover {
  color: #253141;
}
.inky-nav .navbar-content a.active {
  color: #253141;
}
.inky-nav .navbar-content a.active:after {
  position: absolute;
  background-color: #4B28F7;
  width: 30px;
  border-radius: 50px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 2.3px;
  content: "";
  bottom: 0;
}
.inky-nav .icons-content a {
  text-decoration: none;
}
.inky-nav .icons-content i {
  color: #253141;
  transition: color 0.5s;
}
.inky-nav .icons-content i:hover {
  color: #4B28F7;
}

.header-pag {
  background-image: linear-gradient(1deg, #272933fc, #1a1e26cc);
}
.header-pag .navbar-content a {
  font-size: 15px;
  color: #b3c2ca;
  text-decoration: none;
  transition: all 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-pag .navbar-content a:hover {
  color: white;
}
.header-pag .navbar-content a.active {
  color: white;
}
.header-pag .icone-color {
  color: #929292 !important;
}

.scroll-menu img {
  content: url("../img/logo-white.svg") !important;
}

.scroll-menu .inky-logo:before {
  content: url("../img/logo-white.svg") !important;
  position: absolute;
  left: 0;
  right: 0;
}

.header-content {
  background-image: url("../img/banner-header.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
.header-content .text-content p {
  font-size: 22px;
}
@media (max-width: 560px) {
  .header-content .text-content p {
    font-size: 16px;
  }
}
.header-content .text-content h1 {
  font-size: 64px;
}
@media (max-width: 560px) {
  .header-content .text-content h1 {
    font-size: 34px;
  }
}
@media (max-width: 560px) {
  .header-content {
    height: 400px !important;
  }
  .header-content .fp-tableCell {
    height: 400px !important;
  }
}

.about-content {
  background-color: #151921;
  background-image: url("../img/banner-header2.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 560px) {
  .about-content {
    padding-bottom: 350px;
  }
}
.about-content .background-overlay {
  background-image: url("../img/macbook.webp");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 46%;
}
@media (max-width: 560px) {
  .about-content .background-overlay {
    background-size: 95%;
  }
}
@media (max-width: 560px) {
  .about-content .about-content-ajust {
    padding-bottom: 320px;
  }
}
.about-content .text-content {
  text-align: left;
}
.about-content .inky-msg-content {
  background-color: rgba(75, 41, 246, 0.09);
  border-radius: 7px;
  padding: 17px 25px;
}
@media (max-width: 560px) {
  .about-content .inky-msg-content {
    padding: 15px 15px;
  }
}
.about-content .inky-msg-content .icon-content {
  display: grid;
  align-items: center;
  text-align: center;
  width: 100px;
  margin-right: 20px;
}
.about-content .inky-msg-content .icon-content i {
  font-size: 48px;
  color: #4B28F7;
}
.about-content .inky-msg-content .text-content {
  text-align: left;
}
.about-content .inky-msg-content .text-content p {
  color: #4B28F7;
}
.about-content .inky-msg-content .text-content h3 {
  font-size: 17px;
  font-weight: 500;
}
@media (max-width: 560px) {
  .about-content .inky-msg-content .text-content h3 {
    font-size: 16px;
  }
}
.about-content .icon-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}
@media (max-width: 560px) {
  .about-content .icon-wrapper {
    margin-right: 20px;
  }
}
.about-content .icon {
  background-color: rgba(26, 27, 52, 0.5);
  border: 2px solid rgba(238, 242, 255, 0.1);
}
.about-content .icon svg {
  color: #4728f7;
  height: 38px;
  width: 38px;
}
.about-content .icon-blur {
  height: 45px;
  width: 50px;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.about-page-content {
  background-image: linear-gradient(1deg, #1d232c, #333848);
  background-color: #222a33;
}

.work-content {
  background-color: #151921;
}

@media (max-height: 625px) and (min-width: 1024px) {
  .services-page .circle-blend p {
    display: none;
  }
}

.work-page-content {
  background-color: #171C23;
  background-image: linear-gradient(122deg, #2D2E3A, #171C23);
}
@media (max-width: 560px) {
  .work-page-content .down-arrow-content {
    display: none !important;
  }
  .work-page-content .text-content h2 {
    font-size: 32px !important;
  }
}
.work-page-content .text-content h2 {
  font-size: 44px;
  color: white;
  font-weight: 400;
}
.work-page-content .text-content p {
  font-size: 16px;
  color: white;
}
.work-page-content .box-brands {
  margin-top: 60px;
}
@media (max-width: 580px) {
  .work-page-content .box-brands {
    display: none;
  }
}
.work-page-content .box-brands img {
  height: 43px;
  width: 100%;
}

.mobile-carousel {
  background-color: #171C23;
  background-image: linear-gradient(122deg, #252731, #171c23);
  padding: 20px 20px;
  margin-top: -40px;
}
@media (min-width: 580px) {
  .mobile-carousel {
    display: none;
  }
}
.mobile-carousel .brands-carousel img {
  height: 50px;
  margin: 0 auto;
}

.services-page {
  background-color: #1e222a;
}
@media (max-width: 560px) {
  .services-page .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .services-page .inky-title h2 {
    margin-top: 0 !important;
  }
  .services-page .text-content {
    margin: 0 !important;
    padding: 0 20px !important;
  }
}
.services-page .icon {
  position: relative;
}
.services-page .circle-blend .col-md-4 {
  margin: 20px 0;
}
.services-page h3 {
  font-size: 20px;
  color: white;
  font-weight: 400 !important;
}
.services-page p {
  font-size: 16px;
  font-weight: 300;
  color: #b3b3b5;
}
.services-page .see-more {
  font-size: 32px;
  color: #7c7c80;
  transition: color 0.5s;
  text-decoration: none;
}
.services-page .see-more:hover {
  color: #b7b9bf;
}

@media (max-width: 560px) {
  .services-page {
    padding-top: 60px;
  }
}
.icon-blur {
  position: absolute;
  height: 49px;
  width: 43px;
  border-radius: 0px;
  right: -5px;
  top: 0px;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.benefits-content {
  background-color: #1D232C;
}
@media (max-width: 560px) {
  .benefits-content .container {
    padding-top: 0 !important;
    padding-bottom: 60px !important;
  }
  .benefits-content .text-content {
    text-align: center !important;
  }
  .benefits-content .ajust-mobile {
    margin-top: 40px;
  }
}

@media (max-width: 560px) {
  .benefits-bottom .container {
    padding-bottom: 0px !important;
  }
}

.privacy-politic {
  background-image: linear-gradient(1deg, #1d232c, #333848);
  background-color: #222a33;
  padding: 70px 0;
}
.privacy-politic h2 {
  color: white;
}
.privacy-politic p {
  color: #BFC0CF;
}
.privacy-politic a {
  color: #4b28f7;
}

.footer-content {
  background-color: #1D232C;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
}
@media (max-width: 560px) {
  .footer-content {
    height: auto !important;
  }
}
.footer-content .inky-title {
  padding-top: 220px;
}
@media (max-width: 560px) {
  .footer-content .inky-title {
    padding-top: 30px;
  }
}
@media (max-height: 625px) and (min-width: 1024px) {
  .footer-content .inky-title {
    padding-top: 100px;
  }
}
@media (max-width: 560px) {
  .footer-content .form-content {
    flex-direction: column-reverse;
  }
}
@media (max-height: 625px) and (min-width: 1024px) {
  .footer-content .form-content {
    margin-top: 10px !important;
  }
}
.footer-content .form-content .content-info {
  margin-top: -10px;
}
@media (max-width: 560px) {
  .footer-content .form-content .content-info {
    margin-top: 60px;
    padding: 0 20px;
  }
}
.footer-content .form-content .content-info a {
  text-decoration: none;
  margin: 35px 0;
  width: -moz-max-content;
  width: max-content;
}
.footer-content .form-content .content-info a i {
  color: #4b28f7;
  margin-right: 20px;
  text-align: center;
}
.footer-content .form-content .content-info a p {
  color: #BFC0CF;
  margin: 0;
  font-size: 15px;
}
.footer-content .form-content input, .footer-content .form-content textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  padding: 10px 2px;
  outline: none;
  color: #b3b1bd;
  margin-bottom: 20px;
  resize: none;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
@media (max-width: 560px) {
  footer {
    position: relative;
    margin-top: 0;
  }
  footer .container {
    padding: 0 !important;
  }
}
footer p {
  color: #b1b5bb;
  font-size: 14px;
}

.activate {
  display: table;
  background: #4728f7;
  box-shadow: 0 4px 20px rgba(71, 40, 247, 0.15);
  line-height: 20px;
  padding: 12px 40px;
  margin: 0 auto;
  border-radius: 22px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  outline: none !important;
  border: none;
  transition: transform 0.2s ease, background 0.3s ease, box-shadow 0.3s ease;
}
.activate:disabled {
  background: #2f3847;
  pointer-events: none;
  box-shadow: none;
}
.activate:disabled li {
  color: #727986;
}
.activate:disabled span {
  background-color: #2f3847;
  stroke: #4b29f6;
}
.activate:disabled span svg {
  stroke: #4b29f6 !important;
}
.activate span {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  margin: 0 4px 0 0;
  position: relative;
  overflow: hidden;
}
.activate span:before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #4728f7;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease, background 0.3s ease;
}
.activate span svg {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  z-index: 1;
}
.activate span svg:nth-child(1) {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  fill: none;
  margin: 0;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dashoffset: 94.248;
  stroke-dasharray: 47.124;
}
.activate span svg:nth-child(2) {
  fill: #4728f7;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.activate span svg:nth-child(3) {
  fill: #4728f7;
  transform: translateY(20px);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease;
}
.activate:hover {
  box-shadow: 0 8px 24px rgba(71, 40, 247, 0.15);
}
.activate:hover span svg:nth-child(2) {
  transform: translateY(-20px);
}
.activate:hover span svg:nth-child(3) {
  transform: translateY(0);
}
.activate:active {
  transform: scale(0.94);
  box-shadow: 0 4px 16px rgba(63, 220, 117, 0.18);
}
.activate.loading span {
  background: none;
  transition: background 0.1s ease 0.3s;
}
.activate.loading span:before {
  transform: scale(1);
}
.activate.loading span svg:nth-child(1) {
  animation: turn 1.6s linear infinite forwards, path 1.6s linear infinite forwards;
}
.activate.loading span svg:nth-child(2) {
  transform: translateY(-20px);
}
.activate.loading span svg:nth-child(3) {
  opacity: 0;
  transform: translateY(0) scale(0.6);
}
.activate.loading ul {
  transform: rotateX(90deg);
}
.activate.loading.done {
  background: #3FDC75;
  box-shadow: 0 4px 20px rgba(63, 220, 117, 0.15);
}
.activate.loading.done span {
  background: #fff;
  transition: background 0.1s ease 0s;
}
.activate.loading.done span:before {
  background: #3FDC75;
  transform: scale(0);
}
.activate.loading.done span svg:nth-child(1) {
  animation: none;
}
.activate.loading.done span svg:nth-child(3) {
  fill: #3FDC75;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s, opacity 0.4s ease 0.25s;
}
.activate.loading.done ul {
  transform: rotateX(180deg);
}
.activate ul {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style: none;
  height: 20px;
  width: 70px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}
.activate ul li {
  --rotateX: 0deg;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform-origin: 50% 50%;
  transform: rotateX(var(--rotateX)) translateZ(10px);
}
.activate ul li:nth-child(2) {
  --rotateX: -90deg;
}
.activate ul li:nth-child(3) {
  --rotateX: -180deg;
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}
.cc-message {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.cc-window {
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1.5em;
}

.cc-dismiss {
  border-radius: 7px;
  box-shadow: 2px 2px 22px #4b29f68c;
}

/*# sourceMappingURL=inky-base.css.map */
