.border-adapter {
  -webkit-box-sizing: inherit !important;
  box-sizing: inherit !important;
}

.iconColor {
  color: black !important;
}


// MENU

.menu {
  padding: 15px 5px 15px;
  z-index: 10;
  position: fixed;
  left: 200px;
  top: 77px;
  cursor: pointer;
  transition: all .5s;
  background-color: rgba(30, 34, 42, .2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 4px;

  @media (max-width: 768px) {
    right: 50px;
    left: auto;
    top: 50px;
    padding: 10px 5px 10px;
    text-align: right;
    text-align: -webkit-right;
  }
  @media (max-width: 565px) {
    right: 20px;
    left: auto;
    top: 20px;
  }
}

.bar1 {
  transition: .5s ease;
  height: calc(10px / 5);
  width: 45px;
  margin-bottom: calc(40px / 5);
  background-color: #4728f7;
  display: block;
  border-radius: 50px;
}

.bar2 {
  transition: .5s ease;
  height: calc(10px / 5);
  width: 30px;
  margin-bottom: calc(40px / 5);
  background-color: #4728f7;
  display: block;
  border-radius: 50px;
  @media (max-width: 768px) {
    width: 25px;
  }
}

.bar3 {
  transition: .5s ease;
  height: calc(10px / 5);
  width: 45px;
  background-color: #4728f7;
  display: block;
  border-radius: 50px;
}

.menu.open .bar1 {
  transform: rotate(45deg) translateX(5px) translateY(7px);
  width: 45px;
  @media (max-width: 768px) {
    transform: rotate(45deg) translateX(6px) translateY(6px);
    width: 35px;
  }
}

.menu.open .bar2 {
  transform: rotate(-50deg);
  opacity: 0;
  width: 15px;
}

.menu.open .bar3 {
  transform: rotate(-45deg) translateX(7px) translateY(-9px);
  width: 45px;
  @media (max-width: 768px) {
    transform: rotate(-45deg) translateX(7px) translateY(-7px);
    width: 35px;
  }
}

.bar1, .bar3 {
  @media (max-width: 768px) {
    width: 35px;
  }
}

.bar1, .bar2 {
  @media (max-width: 768px) {
    margin-bottom: calc(35px / 5);
  }
}

.sidenav {
  height: 100%;
  width: 76%;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: right;
  text-align: -webkit-right;
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  transform: translateX(-150%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  background-color: rgb(30 34 42 / 92%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .menu-horizontal {
    text-align: left;
    margin-top: 25vh;
    width: 40%;
    @media (max-width: 768px) {
      text-align: left;
      width: 50%;
      margin: 0 auto;
    }
    @media (max-width: 425px) {
      width: 90%;
      margin-top: 60px;
    }

    p {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-style: italic;
      font-size: 20px;
      color: #fff;
      letter-spacing: 3px;
      @media (max-width: 768px) {
        display: none;
      }

    }

    a {
      margin: 15px 0;
      text-align: left;
      text-decoration: none !important;
      display: block;
      transition: 0.3s;

      @media (max-width: 960px) {
        padding: 10px;
      }

      span {
        font-family: 'Ubuntu', sans-serif;
        -webkit-font-smoothing: antialiased;
        letter-spacing: 5px;
        font-size: 2.1em;
        padding: 0 10px;
        color: #fff;
        transition: all .3s;


        @media (max-width: 960px) {
          font-size: 1.5em;
        }

        @media (max-width: 425px) {
          font-size: .9em;
        }
      }
    }
  }

  @media (min-width: 990px) {

    display: block;

  }

  &.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 20px 120px rgba(39, 42, 49, 0.53);
  }
}

.mobile-item {
  img {
    margin: 9px 0 0 40px;
  }
}

.menu-close {
  background-color: #0000ff61;
  width: 56px;
  height: 52px;
  z-index: 15;
  cursor: pointer;
  position: fixed;
  left: 200px;
  top: 77px;
  transition: 0.5s;
}